# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: PythonScript@0
  inputs:
    scriptSource: 'inline'
    script: from urllib.request import urlretrieve; urlretrieve('https://cdn.azul.com/zulu/bin/zulu8.44.0.13-ca-fx-jdk8.0.242-win_x64.zip', 'zulu8.44.0.13-ca-fx-jdk8.0.242-win_x64.zip')
- task: JavaToolInstaller@1
  inputs:
    versionSpec: '8'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'LocalDirectory'
    jdkFile: 'zulu8.44.0.13-ca-fx-jdk8.0.242-win_x64.zip'
    jdkDestinationDirectory: '/java'
    cleanDestinationDirectory: true
- task: CmdLine@2
  inputs:
    script: |
      choco install innosetup --version=5.6.1 --force
      choco install --force wixtoolset
      PATH=%PATH%;%WIX%;%WIX%bin
- task: CmdLine@3
  inputs:
    script: |
      echo %PATH%
- task: Bash@4
  inputs:
    targetType: 'inline'
    script: 'export PATH=$PATH:$WIX:$WIX/bin'
- task: CmdLine@5
  inputs:
    script: |
      echo %PATH%
- task: Gradle@6
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    options: '--info --stacktrace'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    tasks: 'packageApplicationMsi'

- task: PublishPipelineArtifact@7
  inputs:
    path: $(System.DefaultWorkingDirectory)/build/distributions
    artifact: OMERO.insight-5.5.10-SNAPSHOT.msi
